div{
  input{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 380px;
    height: 48px;
    padding: 0px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-grey2);
    background: var(--color-grey2);
  }
  input::placeholder{
    color: var(--color-grey1)
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .error{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    color: var(--color-negative);
  }

  
}

