.modalOverlayEdit{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.651);
}


  .modalAddCard{
    width: 377px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: var(--grey-3, #212529);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    
    
    .modalDivPrimary{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px 4px 0px 0px;
      background: var(--grey-2, #343B41);
      padding: 0px;
      padding: 10px 20px;
      
      button{
        color: var(--grey-1, #868E96);
        background-color: transparent;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        width: 32px;
        height: 40px;
        
      }
    }
    
    .modalDivSecundary{
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: flex-start;

      .modalInput{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        height: 48px;
        padding: 0px 16px;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--color-grey2);
        background: var(--color-grey2);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        color: var(--color-grey0);
  
      }
      
      .modalInput::placeholder{
        color: var(--color-grey1);
  
      }
  
      .modalSelect{
        align-items: center;
        width: 100%;
        height: 48px;
        padding: 0px 16px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid var(--color-grey2);
        background: var(--color-grey2);
        margin-bottom: 20px;
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        color: var(--color-grey1);
      }
  
      .modalButton{
        margin: 10px 0px;
        height: 48px;
        background: var(--color-primary);
        width: 100%;
      }

    }
  }