@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root{
  --color-white: #fff;
  --color-black: #000;
  --color-grey0:#F8F9FA;
  --color-grey1:#868E96;
  --color-grey2: #343B41;
  --color-grey3: #212529;
  --color-grey4: #121214;
  --color-primary: #FF577F;
  --color-primary-focus: #FF427F;
  --color-primary-negative: #59323F;
  --color-sucess: #3FE864;
  --color-negative: #E83F5B;
  --font-family: 'Inter', sans-serif;
}

button{
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-grey0);
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
}

