.title1{
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
}

.title2{
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

.title3{
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
}