.title1{
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  color: var(--color-grey0);
}

.title2{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}


.placeholder{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey1);
}

label, .label{
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-grey0);
}

.text1{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-grey1);
}

