
section{
  background-color: var(--color-grey4);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .divPrimary{
    width: 420px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
    

    button{
      background: var(--color-grey3);
    }
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 42px 22px;
    margin-top: 35px;
    border-radius: 4px;
    background: var(--color-grey3);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }

  select{
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-grey2);
    background: var(--color-grey2);
  }

  .buttonRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0px 22px;
    margin-top: 20px;
    background: var(--color-primary-negative);
  }
}
